body {
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 
    "header header"
    "aside main";
    grid-template-rows: 82px 1fr;
    grid-template-columns: 100px 1fr;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
.root-header {
    grid-area: header;
}
aside {
    grid-area: aside;   
}
main {
    grid-area: main;
}
.root-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 10px solid #F8309E;
    padding-left: 76px;
    padding-right: 76px;
    background: #F3F6FA;
    border-radius: 0px 0px 24px 24px;
}
.root-logo {
    display: block;
    width: 175px;
    height: 44px;
}
.header-menu {
    position: relative;
    display: flex;
    gap:40px;
}
.nav-item {
    text-decoration: none;
    color: #3E4456;
    font-weight: 400;
}
.header-buttons {
    display: flex;
    gap: 22px;
}
.icon-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #E6E9EE;
    border-radius: 12px;
    cursor: pointer;
}
.circle {
    position: absolute;
    box-sizing: border-box;
    background: #F8309E;
    border: 3px solid #F3F6FA;
    border-radius: 16px;
    width: 16px;
    height: 16px;
    right: -5px;
    top: -3px;
}
.avatar-bg {
   background-image: url(./images/avatar.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 48px;
   height: 48px;  
}
.avatar.btn::after {
    content: '';
    clear: both;
    display: table;
}
.menu-btn {
    cursor: pointer;
}