body {
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 
    "header header"
    "aside main";
    grid-template-rows: 82px 1fr;
    grid-template-columns: 265px 1fr;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

/* srart header */

.root-header {
    grid-area: header;
}
aside {
    grid-area: aside;   
}
main {
    grid-area: main;
}
.root-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 10px solid #F8309E;
    padding-left: 76px;
    padding-right: 76px;
    background: #F3F6FA;
    border-radius: 0px 0px 24px 24px;
}
.root-logo {
    display: block;
    width: 175px;
    height: 44px;
}
.header-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 0.3; 
    cursor: pointer;
}
.header-menu:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.nav-item {
    padding-right: 20px;
    text-decoration: none;
    color: #3E4456;
    font-weight: 400;
}
.header-buttons {
    display: flex;
    gap: 22px;
}
.icon-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #E6E9EE;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3;
}
.icon-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.circle {
    position: absolute;
    box-sizing: border-box;
    background: #F8309E;
    border: 3px solid #F3F6FA;
    border-radius: 16px;
    width: 16px;
    height: 16px;
    right: -5px;
    top: -3px;
}
.avatar-bg {
   background-image: url(./images/avatar.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 48px;
   height: 48px;  
}
.avatar.btn::after {
    content: '';
    clear: both;
    display: inline-block;
}
.avatar-btn {
    width: 96px;
}
.avatar-bg {
    border-radius: 16px 0 0 16px;
}
.menu-btn {
    cursor: pointer;
}

/* And header */

/* start aside */

.conteiner {
    align-items: stretch;
}
.aside-root {
    padding-top: 58px;
}
.avatar-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.avatar {
    text-align: center;
}
.avatar-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #303543;
}
.avatar-email {
    text-align: center;
    border: none;
    color:  #F8309E;
    cursor: pointer;
}
.navigation {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 28px;
    padding-top: 50px;
    gap: 32px;
}
.settings {
    display: flex;
    background: #F3F6FA;
    border-radius: 8px;
}
.settings-name {
    padding-left: 5px;
    padding-right: 20px;
}
.styles-nav {
    display: flex;
}
.styles-name {
    padding-left: 5px;
}

/* end aside */

/* start main */

.main-root {
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 
    "basic security"
    "login login"
    " verification verification"
    "google google"
    "email email"
    ;
    grid-template-rows: 442px 264px 420px 280px 266px; 
    grid-template-columns: 530px 1fr ;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    height: 100%;
    max-width: 100%;
}
.main {
    padding: 125px 75px 75px 66px; 
}
.basic {
    display: flex;
    flex-direction: column;
    grid-area: basic;
    position: relative;
}
.security {
    grid-area: security;
}
.login {
    grid-area: login;
}
.verification {
    grid-area: verification;
}
.google {
    grid-area: google;
}
.email {
    grid-area: email;

}
.account {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top:127px;
    font-weight: 700;
    font-size:28px;
    line-height: 34px;
    color: #4E566C
}
.background-main {
    background: #F3F6FA;
    border-radius: 24px;
    padding: 40px;
}
.basic-header {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #4E566C;
    padding-bottom: 16px;
}
.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #303543;
    gap:9px;
    padding-top: 24px;
}
input {
    width: 200px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
}