body {
    display: grid;
    grid-template-areas: 
    "header header"
    "aside main";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 100px 1fr;
    height: 100vh;
}
.root-header {
    grid-area: header;
}
aside {
    grid-area: aside;   
}
main {
    grid-area: main;
}
.root-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 10px;
    border-color: #F8309E;

}
.root-logo {
    display: block;
    width: 175px;
    height: 44px;
}